@page "/product/productedit/{id}"
@inject IStringLocalizer<App> localizer
@inject ILocalStorageService sessionStorage
@inject IRole _role
@using DCMS.SE.Services.IService
@inject IProduct _product
@inject IProductGroup _productGroup
@inject IBrand _brand
@inject IUnit _unit
@inject ITax _tax
@inject IJSRuntime JsRuntime
@inject NavigationManager navManager
@inject ISnackbar Snackbar
@inject IFileUpload FileUpload
<div class="main-content pt-4">
    <div>
        <div class="breadcrumb">
            <h1>@localizer["Product"]</h1>
            <ul>
                <li><a href=""> @localizer["Settings"] </a></li>
                <li> @localizer["Product"] / @localizer["Add"] </li>
            </ul>
        </div>
        <div class="separator-breadcrumb border-top">
        </div>
    </div>
    <div class="card wrapper">
        <EditForm Model="@master" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title mb-3">@localizer["Product"]</div>
                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="firstName1">@localizer["Product Name"]</label>
                                    <input class="form-control" @bind="master.ProductName" type="text" placeholder="Enter you product name">
                                    <ValidationMessage For="@(() => master.ProductName)" />
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="lastName1">@localizer["Product Code"]</label>
                                    <input class="form-control" @bind="master.ProductCode" readonly type="text" placeholder="Enter your product code">
                                    <ValidationMessage For="@(() => master.ProductCode)" />
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="exampleInputEmail1">@localizer["Product Group"]</label>
                                    <select class="form-control" @bind="master.GroupId">
                                        <option value="0">选择</option>
                                        @foreach (var item in listProductGroup)
                                        {
                                            <option value="@item.GroupId">@item.GroupName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="phone">@localizer["Brand"]</label>
                                    <select class="form-control" @bind="master.BrandId">
                                        <option value="0">选择</option>
                                        @foreach (var item in listBrand)
                                        {
                                            <option value="@item.BrandId">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="credit1">@localizer["Unit"]</label>
                                    <select class="form-control" @bind="master.UnitId">
                                        <option value="0">选择</option>
                                        @foreach (var item in listUnit)
                                        {
                                            <option value="@item.UnitId">@item.UnitName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="website">@localizer["Purchase Rate"]</label>
                                    <input class="form-control" @bind="master.PurchaseRate" type="number">
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="picker2">@localizer["Sales Rate"]</label>
                                    <input class="form-control" @bind="master.SalesRate" type="number">
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="picker2">@localizer["Mrp"]</label>
                                    <input class="form-control" @bind="master.Mrp" type="number">
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="picker1">@localizer["Tax"]</label>
                                    <select class="form-control" @bind="master.TaxId">
                                        <option value="0">选择</option>
                                        @foreach (var item in listTax)
                                        {
                                            <option value="@item.TaxId">@item.TaxName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="picker2">@localizer["Minimum Stock"]</label>
                                    <input class="form-control" @bind="master.MinimumStock" type="number">
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="picker2">@localizer["Maximum Stock"]</label>
                                    <input class="form-control" @bind="master.MaximumStock" type="number">
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="picker2">@localizer["Description"]</label>
                                    <input class="form-control" @bind="master.Narration" type="text">
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="picker2">@localizer["Is Active"]</label>
                                    <MudCheckBox @bind-Checked="@master.IsActive" Color="Color.Primary"></MudCheckBox>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-primary">@localizer["Submit"]</button>
                                    <button type="button" class="btn btn-danger" @onclick="@Cancel">返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-header">
                                <h5>@localizer["Image"]</h5>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-md-12 mb-5">
                                        <div id="my-strictly-unique-vue-upload-multiple-image" class="d-flex justify-content-center">
                                            <div class="row">

                                                 @if (master.Image == null)
                                                {
                                                    <img src="img/logo.jpg" alt="">
                                                }
                                                else
                                                {
                                                    <img src="@master.Image" width="60" height="60">
                                                }
                                                <ValidationMessage For="@(() => master.Image)" />
                                               @*
                                                <InputFile OnChange="OnFileChange" />*@

                                                
                                                <InputFile id="fileInput112" OnChange="OnFileChange" hidden multiple accept=".jpg, .jpeg, .png" />

<MudButton HtmlTag="label"
           Variant="Variant.Filled"
           Color="Color.Primary"
           StartIcon="@Icons.Filled.CloudUpload"
           for="fileInput112">
    上传图片
</MudButton>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>
@code {
    [Parameter]
    public string id { get; set; }
    Product master = new Product();
    List<ProductGroup> listProductGroup;
    List<Brand> listBrand;
    List<Unit> listUnit;
    List<Tax> listTax;
    string strMenu = "Product";
    bool strAdd = true;
    bool strEdit = true;
    bool strDelete = true;
    bool strShow = true;
    int RoleId = 1;
    Privilege privi = new Privilege();
    protected override void OnInitialized()
    {
        //RoleId = await sessionStorage.GetItemAsync<int>("RoleId");
        //CheckPriviliage
        privi = _role.PriviliageCheck(strMenu, RoleId, 1);
        if (privi != null)
        {
            strAdd = privi.AddAction;
            strEdit = privi.EditAction;
            strDelete = privi.DeleteAction;
            strShow = privi.ShowAction;
            if (strEdit == false)
            {
                Snackbar.Add("You dont have to privilege.", Severity.Success);
                navManager.NavigateTo("dashboard");
            }
        }
        else
        {
            strAdd = true;
            strEdit = true;
            strDelete = true;
            strShow = true;
        }
        master = _product.Edit(Convert.ToInt32(id));
        listProductGroup = _productGroup.GetAll();
        listBrand = _brand.GetAll();
        listUnit = _unit.GetAll();
        listTax = _tax.GetAll();
        StateHasChanged();
    }


     private void UploadFiles(InputFileChangeEventArgs e)
    {
        var entries = e.GetMultipleFiles();
        //Do your validations here
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        Snackbar.Add($"Files with {entries.FirstOrDefault().Size} bytes size are not allowed", Severity.Error);
        Snackbar.Add($"Files starting with letter {entries.FirstOrDefault().Name.Substring(0, 1)} are not recommended", Severity.Warning);
        Snackbar.Add($"This file has the extension {entries.FirstOrDefault().Name.Split(".").Last()}", Severity.Info);

        //TODO upload the files to the server
    }

    public void HandleValidSubmit()
    {
        if (master.GroupId == 0)
        {
            Snackbar.Add("Choose Product Group.", Severity.Info);
        }
        else if (master.BrandId == 0)
        {
            Snackbar.Add("Choose Brand.", Severity.Info);
        }
        else if (master.UnitId == 0)
        {
            Snackbar.Add("Choose Unit.", Severity.Info);
        }
        else if (master.MinimumStock > master.MaximumStock)
        {
            Snackbar.Add("MinimumStock cannot be greater then minimumstock.", Severity.Info);
        }
        else
        {
            master.Barcode = master.ProductCode;
            master.ModifyDate = DateTime.Now;
            master.CompanyId = 1;
            var isCheck = _product.CheckNameId(master.ProductCode);
            if (isCheck == master.ProductId || isCheck == 0)
            {
                _product.Update(master);
                Snackbar.Add("Saved Successfully.", Severity.Success);
                navManager.NavigateTo("/product/productlist");
            }
            else
            {
                Snackbar.Add("Already Exists.", Severity.Info);
            }
        }
    }
    async Task OnFileChange(InputFileChangeEventArgs e)
    {
        var format = "image/png";
        var resizedImage = await e.File.RequestImageFileAsync(format, 300, 300);
        var buffer = new byte[resizedImage.Size];
        await resizedImage.OpenReadStream().ReadAsync(buffer);
        var imageData = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
        master.Image = imageData;
    }
    void Cancel()
    {
        navManager.NavigateTo("/product/productlist");
    }
    }
