@page "/product/productadd"
@inject IStringLocalizer<App> localizer
@inject ILocalStorageService sessionStorage
@inject IRole _role
@using DCMS.SE.Services.IService
@inject IProduct _product
@inject ICatagory _catagory
@inject IBrand _brand
@inject IUnit _unit
@inject ITax _tax
@inject IJSRuntime JsRuntime
@inject NavigationManager navManager
@inject ISnackbar Snackbar
@inject IFileUpload FileUpload
<div class="main-content pt-4">
    <div>
        <div class="breadcrumb">
            <h1>@localizer["Product"]</h1>
            <ul>
                <li> @localizer["Product"] / @localizer["Add"] </li>
            </ul>
        </div>
        <div class="separator-breadcrumb border-top">
        </div>
    </div>
    <div class="wrapper">
        <EditForm Model="@master" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title mb-3">

                                   <MudText Typo="Typo.h5">添加商品</MudText>
                            </div>
                         
                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="firstName1">商品名称</label>
                                    <input class="form-control" @bind="master.ProductName" type="text" placeholder="输入商品名称...">
                                    <ValidationMessage For="@(() => master.ProductName)" />
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="lastName1">商品编码</label>
                                    <input class="form-control" @bind="master.ProductCode" readonly type="text" placeholder="E输入商品编码...">
                                    <ValidationMessage For="@(() => master.ProductCode)" />
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="exampleInputEmail1">商品类别</label>
                                    <select class="form-control" @bind="master.CatagoryId">
                                        <option value="0">选择</option>
                                        @foreach (var item in listCatagory)
                                        {
                                            <option value="@item.CatagoryId">@item.CatagoryName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="phone">品牌</label>
                                    <select class="form-control" @bind="master.BrandId">
                                        <option value="0">选择</option>
                                        @foreach (var item in listBrand)
                                        {
                                            <option value="@item.BrandId">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="credit1">单位</label>
                                    <select class="form-control" @bind="master.UnitId">
                                        <option value="0">选择</option>
                                        @foreach (var item in listUnit)
                                        {
                                            <option value="@item.UnitId">@item.UnitName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="website">采购价</label>
                                    <input class="form-control" @bind="master.PurchaseRate" type="number">
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="picker2">@localizer["销售价"]</label>
                                    <input class="form-control" @bind="master.SalesRate" type="number">
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="picker2">@localizer["Mrp价格"]</label>
                                    <input class="form-control" @bind="master.Mrp" type="number">
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="picker1">@localizer["税种"]</label>
                                    <select class="form-control" @bind="master.TaxId">
                                        <option value="0">选择</option>
                                        @foreach (var item in listTax)
                                        {
                                            <option value="@item.TaxId">@item.TaxName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="picker2">@localizer["最小库存"]</label>
                                    <input class="form-control" @bind="master.MinimumStock" type="number">
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="picker2">@localizer["最大库存"]</label>
                                    <input class="form-control" @bind="master.MaximumStock" type="number">
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="picker2">@localizer["描述"]</label>
                                    <input class="form-control" @bind="master.Narration" type="text">
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="picker2">@localizer["是否启用"]</label>
                                   @* <input class="form-control" @bind="master.IsActive" type="checkbox">*@
                                    <MudCheckBox @bind-Checked="@master.IsActive" Color="Color.Primary"></MudCheckBox>
                                </div>
                                <div class="col-md-12">
                                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Save" Color="Color.Primary" OnClick="@HandleValidSubmit">提交</MudButton>
                                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Undo" Color="Color.Error" @onclick="@Cancel">返回</MudButton>

                                   <button class="btn btn-primary">@localizer["提交"]</button>

                                    @*
                                    <button type="button" class="btn btn-danger" @onclick="@Cancel">返回</button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-header">
                                <h5>@localizer["商品图片"]</h5>
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-md-12 mb-5">
                                        <div id="my-strictly-unique-vue-upload-multiple-image" class="d-flex justify-content-center">
                                            <div class="row">

                                                 @if (master.Image == null)
                                                {
                                                    <img src="img/logo.jpg" alt="">
                                                }
                                                else
                                                {
                                                    <img src="@master.Image" width="60" height="60">
                                                }

                                                <ValidationMessage For="@(() => master.Image)" />

                                              @* 
                                                <InputFile OnChange="OnFileChange" />*@


                                                <InputFile id="fileInput112" OnChange="OnFileChange" hidden multiple accept=".jpg, .jpeg, .png" />

<MudButton HtmlTag="label"
          Variant="Variant.Filled" 
          FullWidth="true"
           Color="Color.Primary"
           StartIcon="@Icons.Filled.CloudUpload"
           for="fileInput112">
    上传图片
</MudButton>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>
@code {
    Product master = new Product();
    List<Catagory> listCatagory;
    List<Brand> listBrand;
    List<Unit> listUnit;
    List<Tax> listTax;
    string strMenu = "Product";
    bool strAdd = true;
    bool strEdit = true;
    bool strDelete = true;
    bool strShow = true;
    int RoleId = 1;
    Privilege privi = new Privilege();
    protected override void OnInitialized()
    {
        //RoleId = await sessionStorage.GetItemAsync<int>("RoleId");
        //CheckPriviliage
        privi = _role.PriviliageCheck(strMenu, RoleId, 1);
        if (privi != null)
        {
            strAdd = privi.AddAction;
            strEdit = privi.EditAction;
            strDelete = privi.DeleteAction;
            strShow = privi.ShowAction;
            if (strAdd == false)
            {
                Snackbar.Add("You dont have to privilege.", Severity.Success);
                navManager.NavigateTo("dashboard");
            }
        }
        else
        {
            strAdd = true;
            strEdit = true;
            strDelete = true;
            strShow = true;
        }
        //string strProductCode = _product.GetProductNo(1);
        master.ProductCode = "310100800081405";
        listCatagory = _catagory.GetAll();
        listBrand = _brand.GetAll();
        listUnit = _unit.GetAll();
        listTax = _tax.GetAll();
        master.CatagoryId = 0;
        master.BrandId = 0;
        master.UnitId = 0;
        master.TaxId = 0;
        master.IsActive = true;
        StateHasChanged();
    }

     private void UploadFiles(InputFileChangeEventArgs e)
    {
        var entries = e.GetMultipleFiles();
        //Do your validations here
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        Snackbar.Add($"Files with {entries.FirstOrDefault().Size} bytes size are not allowed", Severity.Error);
        Snackbar.Add($"Files starting with letter {entries.FirstOrDefault().Name.Substring(0, 1)} are not recommended", Severity.Warning);
        Snackbar.Add($"This file has the extension {entries.FirstOrDefault().Name.Split(".").Last()}", Severity.Info);

        //TODO upload the files to the server
    }

    public void HandleValidSubmit()
    {
        if (master.CatagoryId == 0)
        {
            Snackbar.Add("Choose Product Group.", Severity.Info);
        }
        else if (master.BrandId == 0)
        {
            Snackbar.Add("Choose Brand.", Severity.Info);
        }
        else if (master.UnitId == 0)
        {
            Snackbar.Add("Choose Unit.", Severity.Info);
        }
        else if (master.MinimumStock > master.MaximumStock)
        {
            Snackbar.Add("MinimumStock cannot be greater then minimumstock.", Severity.Info);
        }
        else
        {
            master.Barcode = master.ProductCode;
            master.AddedDate = DateTime.Now;
            master.StoreId = 1;
            var isCheck = _product.CheckName(master.ProductCode);
            if (isCheck == true)
            {
                Snackbar.Add("Already Exists.", Severity.Info);
            }
            else
            {
                long intProductId = _product.Save(master);
                Snackbar.Add("Saved Successfully.", Severity.Success);
                navManager.NavigateTo("/product/productlist");
            }
        }
    }
    async Task OnFileChange(InputFileChangeEventArgs e)
    {
        var format = "image/png";
        var resizedImage = await e.File.RequestImageFileAsync(format, 300, 300);
        var buffer = new byte[resizedImage.Size];
        await resizedImage.OpenReadStream().ReadAsync(buffer);
        var imageData = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
        if (imageData == null)
        {
            master.Image = string.Empty;
        }
        else
        {
            master.Image = imageData;
        }
    }
    void Cancel()
    {
        navManager.NavigateTo("/product/productlist");
    }
    }
