@page "/sales/salesinvoicedetails/{id}"
@inject IStringLocalizer<App> localizer
@inject ILocalStorageService sessionStorage
@inject IRole _role
@inject IStore _Store
@inject ISalesInvoice _salesInvoice
@inject IJSRuntime JsRuntime
@inject NavigationManager navManager
@inject ISnackbar Snackbar
<div class="main-content pt-4">
    <div>
        <div class="breadcrumb"><h1> @localizer["销售"]</h1>
            <ul>
                <li><a href=""> @localizer["销售单"] </a></li> 
                <li> @localizer["明细"] </li>
            </ul>
            </div>
            <div class="separator-breadcrumb border-top">

            </div>
            </div>
            <div class="card wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                        <div class="row">
                            <div class="mb-2 col-md-12">
                                <a href="/sales/salesinvoiceedit/@id" class="btn btn-success btn-icon ripple btn-sm" title="Edit"><i class="i-Edit"></i> <span>编辑</span></a>
                                @*        <button class="btn btn-info btn-icon ripple btn-sm"><i class="i-Envelope-2"></i>
                                Email
                                </button>*@
                                @*<button class="btn btn-secondary btn-icon ripple btn-sm"><i class="i-Speach-Bubble"></i>
                                SMS
                                </button>*@
                                @*<button class="btn btn-primary btn-icon ripple btn-sm"><i class="i-File-TXT"></i> PDF
                                </button>*@

                                 <button class="btn btn-primary btn-icon ripple btn-sm">
                                    <i class="i-Check"></i>
                                    审核
                                </button>

                                 <button class="btn btn-danger btn-icon ripple btn-sm">
                                    <i class="i-Reset"></i>
                                    红冲
                                </button>

                                <button onclick="printDiv('PrintDiv')" class="btn btn-warning btn-icon ripple btn-sm">
                                    <i class="i-Billing"></i>
                                    打印
                                </button>
                                <button class="btn btn-danger btn-icon ripple btn-sm">
                                    <i class="i-Close-Window"></i>
                                    删除
                                </button>
                            </div>
                        </div>



        <div id="PrintDiv" class="invoice mt-5">
            <div class="invoice-print">
                <div class="row justify-content-md-center">
                    <h4 class="font-weight-bold">@localizer["销售明细"] : @master.VoucherNo</h4>
                    </div> <hr> <div class="row mt-5">
                        <div class="mb-4 col-sm-12 col-md-4 col-lg-4">
                            <h5 class="font-weight-bold">客户信息</h5> 
                            <div>@master.TerminalName</div> 
                            <div>@master.Email</div> 
                            <div>@master.Phone</div> 
                            <div>@master.Address</div>
                        </div> 
                        <div class="mb-4 col-sm-12 col-md-4 col-lg-4">
                            <h5 class="font-weight-bold">@localizer["公司信息"]</h5> 
                            <div>@Store.StoreName</div> 
                            <div>@Store.Address</div> 
                            <div>@Store.PhoneNo</div>
                            </div>
                            <div class="mb-4 col-sm-12 col-md-4 col-lg-4">
                                <h5 class="font-weight-bold">@localizer["销售信息"]</h5> 
                                <div>单号 : @master.VoucherNo</div> 
              <div>仓库 : @master.WarehouseName</div> <div>
              @localizer["付款状态"] :
              <span class="badge badge-outline-success">@master.Status</span></div>
              </div>
              </div> <div class="row mt-3"><div class="col-md-12">
                  <h5 class="font-weight-bold">@localizer["单据汇总"]</h5> 
                  <div class="table-responsive"><table class="table table-hover table-md">
                      <thead class="bg-gray-300">
                          <tr><th scope="col">@localizer["Product"]</th> 
                              <th scope="col">@localizer["数量"]</th> 
                              <th scope="col">@localizer["Rate"]</th> 
                              <th scope="col">@localizer["Unit"]</th> 
                              <th scope="col">@localizer["Discount"]</th> 
                              <th scope="col">@localizer["Tax"]</th> 
                              <th scope="col">@localizer["Subtotal"]</th>
                              </tr>
                              </thead> 
                              <tbody>
                                  @foreach(var item in listPurchaseDetails)
                                  {
                                  <tr>
                                      <td>@item.ProductName</td>
                                      <td>@item.Qty</td>
                                      <td>@item.SalesRate</td>
                                      <td>@item.UnitName</td>
                                      <td>@item.DiscountAmount</td>
                                      <td>@item.TaxAmount</td>
                                      <td>@item.Amount</td>
                                      </tr>
                                  }
                                      </tbody>
                                      </table>
                                      </div>
                                      </div> 
                                      <div class="offset-md-9 col-md-3 mt-4">
                                          <table class="table table-striped table-sm">
                                              <tbody><tr><td class="bold">@localizer["Tax"]</td>
                                                  <td><span>@master.TotalTax</span></td></tr>
                                                  <tr><td class="bold">@localizer["Discount"]</td> <td>@master.BillDiscount</td></tr>
                                                  <tr><td class="bold">@localizer["运费"]</td> <td>@master.ShippingAmount</td></tr> 
                                                  <tr><td><span class="font-weight-bold">@localizer["Grand Total"]</span>
                                                      </td> <td><span class="font-weight-bold">@master.GrandTotal</span></td></tr>
                                                      <tr><td><span class="font-weight-bold">@localizer["Paid"]</span></td> <td>
                                                          <span class="font-weight-bold">@master.PaymentAmount</span></td></tr> 
                                                          <tr><td><span class="font-weight-bold">@localizer["预付余额"]</span></td> 
                                                              <td><span class="font-weight-bold">@master.BalanceDue</span></td></tr>
                                                              </tbody>
                                                              </table></div></div> 
                                                              <hr style="display: none;"> <div class="row mt-4">
                                                                  <div class="col-md-12"><p></p>
                                                                      </div>
                                                                      </div>
                                                                      </div>
                                                                      </div>
         </div>
         </div>
            </div>
            </div>
            </div>
            </div>
@code {
    [Parameter]
    public string id { get; set; }
    SalesMasterView master = new SalesMasterView();
    List<ProductView> listPurchaseDetails = new List<ProductView>();
    Store Store = new Store();
    protected  override void OnInitialized()
    {
        master = _salesInvoice.PrintSalesMasterView(Convert.ToInt32(id));
        listPurchaseDetails = _salesInvoice.SalesInvoiceDetails(Convert.ToInt32(id));
        Store = _Store.Edit(1);
        StateHasChanged();
    }
    void Cancel()
    {
        navManager.NavigateTo("/sales/salesinvoicelist");
    }
    }
