@page "/product/Catagoryadd"
@inject IStringLocalizer<App> localizer
@inject ILocalStorageService sessionStorage
@inject IRole _role
@inject ICatagory _Catagory
@inject IJSRuntime JsRuntime
@inject NavigationManager navManager
@inject ISnackbar Snackbar
<div class="main-content pt-4">
    <div>
        <div class="breadcrumb"><h1> @localizer["商品类别"]</h1>
            <ul>
             <li> @localizer["Product"] / @localizer["类别"] / 添加 </li>
            </ul>
            </div>
            <div class="separator-breadcrumb border-top">

            </div>
            </div>
            <div class="card wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="card"><div class="card-body">
                        <div class="row">
                            <EditForm Model="@master" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                                <div class="col-md-12 form-group mb-3">
                                    <span>
                                        <div class="form-group">
                                            <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0">@localizer["类别名称"]</legend>
                                            <div>
                                                <input type="text" class="form-control" @bind="master.GroupName" placeholder="类别名称">
                                    <ValidationMessage For="@(() => master.GroupName)" />
                                                </div>
                                                </div>
                                                </span>
                                                </div>
                                                <div class="col-md-12 form-group mb-3">
                                    <span>
                                        <div class="form-group">
                                            <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0">@localizer["所属"]</legend>
                                            <div>
                                                <select class="form-control" @bind="master.GroupUnder">
                                          @foreach(var item in listProductgorup)
                                    {
                                    <option value="@item.GroupId"> @item.GroupName</option>

                                    }
                                        </select>
                                                </div>
                                                </div>
                                                </span>
                                                </div>
                                                <div class="col-md-12 form-group mb-3">
                                    <span>
                                        <div class="form-group">
                                            <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0">@localizer["描述"]</legend>
                                            <div>
                                                <input type="text" class="form-control" @bind="master.Narration" placeholder="描述...">
                                    <ValidationMessage For="@(() => master.Narration)" />
                                                </div>
                                                </div>
                                                </span>
                                                </div>
                                                <div class="mt-3 col-md-12">
                                                    <button type="submit" class="btn btn-primary">@localizer["Submit"]</button>
                                                    <button type="button" class="btn btn-danger" @onclick="@Cancel">返回</button>
                                                    </div>
                                                </EditForm>
            </div>
            </div>
            </div> 
            </div>
            </div>
            </div>
            </div>
@code {
    Catagory master = new Catagory();
    List<Catagory> listProductgorup;
    string strMenu = "Product Group";
    bool strAdd = true;
    bool strEdit = true;
    bool strDelete = true;
    bool strShow = true;
    int RoleId = 1;
    Privilege privi = new Privilege();
    protected  override void OnInitialized()
    {
        //RoleId = await sessionStorage.GetItemAsync<int>("RoleId");
        //CheckPriviliage
        privi = _role.PriviliageCheck(strMenu, RoleId, 1);
        if (privi != null)
        {
            strAdd = privi.AddAction;
            strEdit = privi.EditAction;
            strDelete = privi.DeleteAction;
            strShow = privi.ShowAction;
            if (strShow == false)
            {
                Snackbar.Add("You dont have to privilege.", Severity.Success);
                navManager.NavigateTo("dashboard");
            }
        }
        else
        {
            strAdd = true;
            strEdit = true;
            strDelete = true;
            strShow = true;
        }
        listProductgorup = _Catagory.GetAll();
        master.GroupUnder = 1;
        StateHasChanged();
    }
    public  void HandleValidSubmit()
    {
        var isCheck = _Catagory.CheckName(master.GroupName);
            if (isCheck == true)
            {
                Snackbar.Add("Already Exists.", Severity.Info);
            }
            else
            {
                master.StoreId = 1;
                master.AddedDate = DateTime.Now;
                _Catagory.Save(master);
                Snackbar.Add("Saved Successfully.", Severity.Success);
                navManager.NavigateTo("/product/Catagorylist");
            }
    }
    void Cancel()
    {
        navManager.NavigateTo("/product/Catagorylist");
    }
    }
