@page "/report/stockreport"
@inject IStringLocalizer<App> localizer
@inject ILocalStorageService sessionStorage
@inject IRole _role
@inject IInventoryReport _report
@inject ICatagory _catagory
@inject IProduct _product
@inject IJSRuntime JsRuntime
@inject NavigationManager navManager
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@using NPOI.SS.UserModel
@using NPOI.XSSF.UserModel
@using System.IO
<div class="main-content pt-4">
    <div>
        <div class="breadcrumb"><h1> @localizer["Stock Report"]</h1>
            <ul>
                <li><a href=""> @localizer["Stock"] </a></li> 
                <li> @localizer["Report"] </li>
            </ul>
            </div>
            <div class="separator-breadcrumb border-top">

            </div>
            </div>
            <div class="card wrapper">
            <div class="card-body">
            <div class="vgt-wrap "> 
            <div class="vgt-inner-wrap">
                <div class="vgt-global-search vgt-clearfix">
                 <div class="vgt-global-search__actions vgt-pull-right">
                     <div class="mt-2 mb-3">
                          <button class="btn btn-outline-success ripple m-1" @onclick="@(() => OpenDrawer(Anchor.End))"><i class="i-File-TXT"></i> @localizer["Filter"]
        </button>
                             <button class="btn btn-outline-success ripple m-1" @onclick="GeneratePdf"><i class="i-File-TXT"></i> PDF
        </button>
        <button type="button" @onclick="@(async ()=> {await GenerateExcel();})" class="btn btn-outline-danger btn-icon m-1"><i class="i-File-Excel"></i> EXCEL
        </button>
        </div>
        </div>
        </div>
        <div class="vgt-responsive">
            <MudTable Items="@listModel" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<InventoryViewFinal,bool>(Search)">
    <ToolBarContent>
        <MudTextField @bind-Value="searchString1" Placeholder="搜索" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>@localizer["Code"]</MudTh>
        <MudTh>@localizer["Product"]</MudTh>
        <MudTh>@localizer["Unit"]</MudTh>
        <MudTh>@localizer["Pur.Rate"]</MudTh>
        <MudTh>@localizer["Pur.Qty"]</MudTh>
         <MudTh>@localizer["Balance"]</MudTh>
        <MudTh>@localizer["Sales Rate"]</MudTh>
        <MudTh>@localizer["Sales Qty"]</MudTh>
        <MudTh>@localizer["Balance"]</MudTh>
        <MudTh>@localizer["Stock Qty"]</MudTh>
        <MudTh>@localizer["Amount"]</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="">@context.ProductCode</MudTd>
        <MudTd DataLabel="">@context.ProductName</MudTd>
        <MudTd DataLabel="">@context.UnitName</MudTd>
        <MudTd DataLabel="">@context.Rate</MudTd>
        <MudTd DataLabel="">@context.PurQty</MudTd>
        <MudTd DataLabel="">@context.PurchaseStockBal</MudTd>
        <MudTd DataLabel="">@context.SalesRate</MudTd>
        <MudTd DataLabel="">@context.SalesQty</MudTd>
        <MudTd DataLabel="">@context.SalesStockBalance</MudTd>
        <MudTd DataLabel="">@context.Stock</MudTd>
        <MudTd DataLabel="">@context.Stockvalue</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] {10, 20, 50, 100}" RowsPerPageString="每页行数"/>
    </PagerContent>
</MudTable>
                </div>
        </div>
        </div>
        </div>
        </div>
        </div>

        @*Filter*@
        <MudDrawer @bind-Open="@open" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">Filter</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
        <div class="row">
            <div class="col-sm-12 col-md-12" style="margin-left:2px;">
        <fieldset class="form-group">
            <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0">@localizer["Product Group"]</legend>
            <div>
<select class="form-control" @bind="CatagoryId" style="width:238px;">
    <option value="0">Choose Catagory</option>
                              @foreach(var item in listGroup)
                                {
                                    <option value="@item.CatagoryId">@item.CatagoryName</option>
                                }
                            </select>
    </div>
    </fieldset>
    </div>
    <div class="col-sm-12 col-md-12" style="margin-left:2px;">
    <fieldset class="form-group">
            <legend tabindex="-1" class="bv-no-focus-ring col-form-label pt-0">@localizer["Product"]</legend>
            <div>
<select class="form-control" @bind="ProductId" style="width:238px;">
                              <option value="0">Choose Product</option>
                              @foreach(var item in listProduct)
                                {
                                    <option value="@item.ProductId">@item.ProductName</option>
                                }
                            </select>
    </div>
    </fieldset>
    </div>
    </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <button type="button" class="btn btn-primary ripple m-1 btn-sm btn-block" @onclick="() => LoadData()"><i class="i-Filter-2"></i>
            @localizer["Filter"]
          </button></div>
          <div class="col-sm-12 col-md-6">
              <button type="button" class="btn btn-danger ripple m-1 btn-sm btn-block" @onclick="@(() => CloseDrawer())"><i class="i-Power-2"></i>
            @localizer["Close"]
          </button>
          </div>
        </div>
    </MudNavMenu>
</MudDrawer>
@code {
    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = true;
    private string searchString1 = "";
    private string searchString2 = "";
    bool open;
    Anchor anchor;
    List<InventoryViewFinal> listModel = new List<InventoryViewFinal>();
    List<Catagory> listGroup = new List<Catagory>();
    List<ProductView> listProduct = new List<ProductView>();
    int CatagoryId = 0;
    int ProductId = 0;
    string strMenu = "StockReport";
    bool strAdd = true;
    bool strEdit = true;
    bool strDelete = true;
    bool strShow = true;
    int RoleId = 1;
    Privilege privi = new Privilege();
    protected  override void OnInitialized()
    {
        //RoleId = await sessionStorage.GetItemAsync<int>("RoleId");
        //CheckPriviliage
        privi = _role.PriviliageCheck(strMenu, RoleId, 1);
        if (privi != null)
        {
            strAdd = privi.AddAction;
            strEdit = privi.EditAction;
            strDelete = privi.DeleteAction;
            strShow = privi.ShowAction;
            if (strShow == false)
            {
                Snackbar.Add("You dont have to privilege.", Severity.Success);
                navManager.NavigateTo("dashboard");
            }
        }
        else
        {
            strAdd = true;
            strEdit = true;
            strDelete = true;
            strShow = true;
        }
        listGroup = _catagory.GetAll();
        listProduct = _product.ViewAllProduct(1);
        LoadData();
        StateHasChanged();
    }
    private  void LoadData()
    {
        listModel = _report.StockReport(CatagoryId, ProductId, 1);
    }
    private bool Search(InventoryViewFinal element)
    {
        if (string.IsNullOrWhiteSpace(searchString1))
            return true;
        if (element.ProductCode.Contains(searchString1, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.ProductName.Contains(searchString1, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
    protected async Task GenerateExcel()
    {
        IWorkbook workbook = new XSSFWorkbook();
        var dataFormat = workbook.CreateDataFormat();
        var dataStyle = workbook.CreateCellStyle();
        dataStyle.DataFormat = dataFormat.GetFormat("MM/yy/dddd HH:mm:ss");
        ISheet worksheet = workbook.CreateSheet("Sheet1");



        int rowNumber1 = 0;
        IRow row1 = worksheet.CreateRow(rowNumber1++);
        //TbleHeder
        ICell cell1 = row1.CreateCell(3);
        cell1.SetCellValue("StockReport");

        int rowNumber = 1;
        IRow row = worksheet.CreateRow(rowNumber++);
        //TbleHeder
        ICell cell = row.CreateCell(0);
        cell.SetCellValue("Code");

        cell = row.CreateCell(1);
        cell.SetCellValue("Product");

        cell = row.CreateCell(2);
        cell.SetCellValue("Unit Name");

        cell = row.CreateCell(3);
        cell.SetCellValue("Purchase Rate");

        cell = row.CreateCell(4);
        cell.SetCellValue("Purchase Qty");

        cell = row.CreateCell(5);
        cell.SetCellValue("Balance");

        cell = row.CreateCell(6);
        cell.SetCellValue("Sales Rate");

        cell = row.CreateCell(7);
        cell.SetCellValue("Sales Qty");

        cell = row.CreateCell(8);
        cell.SetCellValue("Balance");

        cell = row.CreateCell(9);
        cell.SetCellValue("Stock Qty");

        cell = row.CreateCell(10);
        cell.SetCellValue("Stock Amount");


        //Tble Body
        foreach (var objDue in listModel)
    {
            row = worksheet.CreateRow(rowNumber++);

            cell = row.CreateCell(0);
            cell.SetCellValue(objDue.ProductCode);

            cell = row.CreateCell(1);
            cell.SetCellValue(objDue.ProductName.ToString());

            cell = row.CreateCell(2);
            cell.SetCellValue(objDue.UnitName);

            cell = row.CreateCell(3);
            cell.SetCellValue(objDue.Rate.ToString());

            cell = row.CreateCell(4);
            cell.SetCellValue(objDue.PurQty.ToString());

            cell = row.CreateCell(5);
            cell.SetCellValue(objDue.PurchaseStockBal.ToString());

            cell = row.CreateCell(6);
            cell.SetCellValue(objDue.SalesRate.ToString());

            cell = row.CreateCell(7);
            cell.SetCellValue(objDue.SalesQty.ToString());

            cell = row.CreateCell(8);
            cell.SetCellValue(objDue.SalesStockBalance.ToString());

            cell = row.CreateCell(9);
            cell.SetCellValue(objDue.Stock.ToString());

            cell = row.CreateCell(10);
            cell.SetCellValue(objDue.Stockvalue.ToString());

        }
        MemoryStream ms = new MemoryStream();
        workbook.Write(ms);
        byte[] bytes = ms.ToArray();
        ms.Close();

        await JsRuntime.SaveAsFileAsync("StockReport", bytes, "application/vnd.ms-excel");
    }
    private void GeneratePdf()
    {
        PdfStockReport pdfExp = new PdfStockReport();
        JsRuntime.InvokeAsync<InventoryViewFinal>(
            "saveAsFile",
            "PurchaseInvoice.pdf",
            Convert.ToBase64String(pdfExp.Report(listModel))
        );
    }
    void OpenDrawer(Anchor anchor)
    {
        open = true;
        this.anchor = anchor;
    }
    void CloseDrawer()
    {
        open = false;
    }
}