@page "/product/barcode/{id}"
@inject IStringLocalizer<App> localizer
@inject ILocalStorageService sessionStorage
@inject IRole _role
@inject IProduct _product
@inject IJSRuntime JsRuntime
@inject NavigationManager navManager
@inject ISnackbar Snackbar
@using Net.ConnectCode.Barcode;
<div class="main-content pt-4">
    <div>
        <div class="breadcrumb"><h1>@localizer["Barcode Code"]</h1>
            <ul>
                <li><a href=""> @localizer["Product"] </a></li> 
                <li> @localizer["Barcode Code"] </li>
            </ul>
            </div>
            <div class="separator-breadcrumb border-top">

            </div>
            </div>
            <div class="card wrapper">
            <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                                            <div id="PrintDiv">
                                     <div class="paddin5ps">
                                        @if(master == null)
                                        {
                                            
                                        }
                                        else
                                        {
                                        <table class="table-bordered barcode-collaps">
                                                                                                                                  <tbody><tr><td class="barcode-toptd">  
                                                    <div class="barcode-inner barcode-innerdiv">
                                                        <div id="barcode">@master.ProductCode</div>
<div id="barcode_text">@master.ProductName</div>
                                                    </div>
                                                </td>
                                                                                                                                                                           
                                            </tr>
                                            </tbody>
                                            </table>
                                            }
                                </div>
                                </div>
                                                        </div>
                                
                                </div>
                                <div class="text-center">
                                <a class="btn btn-info" style="cursor:pointer; color:#ffffff;" onclick="printDiv('PrintDiv')">@localizer["Print"]</a>
                                <a class="btn btn-danger" href="/product/productlist">@localizer["Cancel"]</a>
                            </div>
                                </div>
            </div>
            </div>
@code {
    [Parameter]
    public string id { get; set; }
    Product master = new Product();
    string InputText { get; set; } = "";
    string QRCodeStr { get; set; } = "";
    protected async override void OnInitialized()
    {
        master = _product.Edit(Convert.ToInt32(id));
        GenerateBarcode();
        StateHasChanged();
    }

    void GenerateBarcode()
    {
        BarcodeFonts bcf = new BarcodeFonts();
        bcf.BarcodeType = BarcodeFonts.BarcodeEnum.Code39;
        bcf.CheckDigit = BarcodeFonts.YesNoEnum.Yes;
        bcf.Data = master.Barcode;
        bcf.encode();
        master.Barcode = bcf.EncodedData;
        master.ProductName = bcf.HumanText;
    }
}
