@page "/purchase/supplieredit/{id}"
@inject IStringLocalizer<App> localizer
@inject ILocalStorageService sessionStorage
@inject IRole _role
@inject IManufacturer accountManufacturer
@inject IJSRuntime JsRuntime
@inject NavigationManager navManager
@inject ISnackbar Snackbar
<div class="main-content pt-4">
    <div>
        <div class="breadcrumb"><h1> @localizer["供应商"]</h1>
            <ul>
                <li><a href=""> @localizer["采购"] </a></li> 
                <li> @localizer["供应商"] / @localizer["编辑"] </li>
            </ul>
            </div>
            <div class="separator-breadcrumb border-top">

            </div>
            </div>
            <div class="card wrapper">
                <EditForm Model="@master" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
<div class="card-body">
                                <div class="card-title mb-3">@localizer["Supplier"]</div>
                                    <div class="row">
                                        <div class="col-md-6 form-group mb-3">
                                            <label for="firstName1">@localizer["Supplier Name"]</label>
                                            <input class="form-control" @bind="master.ManufacturerName" type="text">
                                        <ValidationMessage For="@(() => master.ManufacturerName)" />
                                        </div>
                                        <div class="col-md-6 form-group mb-3">
                                            <label for="lastName1">@localizer["Code"]</label>
                                            <input class="form-control" @bind="master.ManufacturerCode" readonly type="text">
                                        <ValidationMessage For="@(() => master.ManufacturerCode)" />
                                        </div>
                                        <div class="col-md-6 form-group mb-3">
                                            <label for="lastName1">@localizer["Phone"]</label>
                                            <input class="form-control" @bind="master.Phone" type="text">
                                        <ValidationMessage For="@(() => master.Phone)" />
                                        </div>
                                        <div class="col-md-6 form-group mb-3">
                                            <label for="lastName1">@localizer["Mobile"]</label>
                                            <input class="form-control" @bind="master.Mobile" type="text">
                                        <ValidationMessage For="@(() => master.Mobile)" />
                                        </div>
                                        <div class="col-md-6 form-group mb-3">
                                            <label for="lastName1">@localizer["Email"]</label>
                                            <input class="form-control" @bind="master.Email" type="text">
                                        <ValidationMessage For="@(() => master.Email)" />
                                        </div>
                                        <div class="col-md-6 form-group mb-3">
                                            <label for="website">@localizer["Country"]</label>
                                            <input class="form-control" @bind="master.Country" type="text">
                                        </div>
                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker2">@localizer["City"]</label>
                                            <input class="form-control" @bind="master.City" type="text">
                                        </div>
                                        <div class="col-md-6 form-group mb-3">
                                            <label for="picker2">@localizer["Address"]</label>
                                            <input class="form-control" @bind="master.Address" type="text">
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-primary">@localizer["Submit"]</button>
                                            <button type="button" class="btn btn-danger" @onclick="@Cancel">返回</button>
                                        </div>
                                    </div>
                            </div>
            </div> 
            </div>
            </div>
            </EditForm>
            </div>
            </div>
@code {
    [Parameter]
    public string id { get; set; }
    Manufacturer master = new Manufacturer();
    string strMenu = "Supplier";
    bool strAdd = true;
    bool strEdit = true;
    bool strDelete = true;
    bool strShow = true;
    int RoleId = 1;
    Privilege privi = new Privilege();
    protected  override void OnInitialized()
    {
        //RoleId = await sessionStorage.GetItemAsync<int>("RoleId");
        //CheckPriviliage
        privi = _role.PriviliageCheck(strMenu, RoleId, 1);
        if (privi != null)
        {
            strAdd = privi.AddAction;
            strEdit = privi.EditAction;
            strDelete = privi.DeleteAction;
            strShow = privi.ShowAction;
            if (strEdit == false)
            {
                Snackbar.Add("You dont have to privilege.", Severity.Success);
                navManager.NavigateTo("dashboard");
            }
        }
        else
        {
            strAdd = true;
            strEdit = true;
            strDelete = true;
            strShow = true;
        }
        master = accountManufacturer.Edit(Convert.ToInt32(id));
        StateHasChanged();
    }
    public void HandleValidSubmit()
    {
        master.AccountGroupId = 22;
        master.OpeningBalance = 0;
            master.Narration = string.Empty;
            master.IsDefault = false;
            master.CrOrDr = "Dr";
            master.ModifyDate = DateTime.UtcNow;
            master.StoreId = 1;
            var isCheck = accountManufacturer.CheckNameId(master.ManufacturerCode);
            if (isCheck == master.ManufacturerId || isCheck == 0)
            {
                accountManufacturer.Update(master);
                Snackbar.Add("Saved Successfully.", Severity.Success);
                navManager.NavigateTo("/purchase/supplierlist");
            }
            else
            {
                Snackbar.Add("Code Already Exists.", Severity.Info);
            }
    }
    void Cancel()
    {
        navManager.NavigateTo("/purchase/supplierlist");
    }
    }
